//colors
$secondary: #FBCA03;
$dark: #303233;
$light: #ffffff;
$secondary-dark: #7a7a7a;
$secondary-light: #F2F2F2;

// container width
$container-max-widths: (
  sm: 570px,
  md: 660px,
  lg: 890px,
  xl: 1200px
);

$fa-font-path: "../../fonts/webfonts";


